.center {
    margin-top: 40px;
}

.textAlign {
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0px 30%;
}

.column div {
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.inputs {
    margin-top: 10px;
    display: flex;
}

.inputs label {
    flex: 1;
}

.inputs input {
    flex: 2;
}

.middle {
    margin: 0px 30%;
}

.submit {
    margin-top: 10px;
}

.alert {
    color: red;
    margin: 0;
}